<launch>
    <param name="use_sim_time" value="true" />

    <!--<include file="$(find localization)/launch/localization.launch"/>-->
    <include file="$(find localization)/launch/mocap_localization.launch"/>

    <node pkg="rosbag" type="play" name="player" required="true" args="-r 1 --clock  -l /home/kostas/Dropbox/experiments/7/funny.bag"/>
    <!--<node pkg="rosbag" type="record" name="recorder" output="screen" args="-O /home/kostas/results/exp.bag /tf /poseupdate /odometry/wheel_imu /odometry/map /mocap_pose /tracks/mean /tracks/mean_kf /tracks/box_kf /tracks/box_ukf /robot_1 /robot_2" />-->


    <node type="rviz" name="rviz" pkg="rviz" required="true" args="-d $(find datmo)/config/experiment.rviz" />

   <node pkg="datmo" type="datmo" name="datmo" output="screen" >
      <param name="lidar_frame" value="laser" />
      <param name="world_frame" value="map" />
      <param name="max_cluster_size" value="35" />
      <param name="threshold_distance" value="0.2" />
      <param name="euclidean_distance" value="0.25" />
      <param name="pub_markers" value="true" />
      <param name="write_execution_times" value="true" />
   </node>

</launch>
