 <launch>

    <param name="use_sim_time" value="true" />

    <!--<node pkg="rosbag" type="record" name="recorder" output="screen" args="-O /home/kostas/results/filtered_tracks.bag /tf /poseupdate /odometry/wheel_imu /odometry/map /mocap_pose /tracks /filtered_tracks /robot_1 /robot_2" />-->

    <node pkg="rosbag" type="play" name="player" output="screen" args="-r 1.0 --clock /home/kostas/Dropbox/experiments/7/funny.bag"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find datmo)/config/datmo.rviz" /> 

    <node type="odom_node" name="odom" pkg="odometry" /> 

    <node pkg="tf2_ros" type="static_transform_publisher" name="link_imu" args="0 0 0 0 0 0 /base_link /imu_link" />
    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="link_laser" args="-0.1385 0 0 0 0 0 /base_link /laser" />-->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find odometry)/config/ekf_template-test.yaml" />
        <remap from="odometry/filtered" to="odometry/wheel_imu" />
    </node>

    <node type="tf_mocap_node" name="tf_mocap" pkg="odometry" />  

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_node_gmapping" clear_params="true" output="screen">
        <rosparam command="load" file="$(find odometry)/config/ekf_hector.yaml" />
        <remap from="odometry/filtered" to="odometry/map" />
    </node>

   <node pkg="datmo" type="datmo" name="datmo" >
      <param name="pub_markers" value="true" />
      <param name="pub_vehicles_InBox" value="false" />
      <param name="pub_vehicles_pub" value="false" />
      <param name="pub_vel_vehicles_pub" value="false" />
      <param name="pub_odom_pub" value="false" />
      <param name="pub_odom_filtered_pub" value="false" />
      <param name="pub_trajectories" value="true" />
   </node>

    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
	<param name="map_frame" value="map" />
	<param name="base_frame" value="base_link" />
	<param name="odom_frame" value="odom" />

	<param name="use_tf_scan_transformation" value="true"/>
	<param name="use_tf_pose_start_estimate" value="false"/>
	<param name="pub_map_odom_transform" value="false"/>
	<param name="pub_odometry" value="false"/>

	<param name="map_resolution" value="0.07"/>
	<param name="map_size" value="1024"/>
	<param name="map_start_x" value="0.5"/>
	<param name="map_start_y" value="0.5" />
	<param name="map_multi_res_levels" value="4" />

	<param name="update_factor_free" value="0.4"/>
	<param name="update_factor_occupied" value="0.9" />
	<param name="map_update_distance_thresh" value="1"/>
	<param name="map_update_angle_thresh" value="0.06" />
	<param name="laser_z_min_value" value = "-1.0" />
	<param name="laser_z_max_value" value = "1.0" />
	<param name="laser_min_dist" value="0.2"/>
	<param name="laser_max_dist" value="8.0"/>

	<param name="advertise_map_service" value="false"/>
	<param name="scan_subscriber_queue_size" value="5"/>
	<param name="scan_topic" value="scan"/>
	<param name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame" />
    </node>


</launch>
